.banner-wrapper {
  margin-top: 70px;
}

.scroll-banner {
  width: 100%;
  background: #ffffff;
  color: #000000;
  padding: 8px 0;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 500;
}

.scroll-banner a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.scroll-text {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 25s linear infinite;
  font-size: 16px;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
