@font-face {
  font-family: "Neue Machina";
  src: url("/assets/fonts/neue-machina/NeueMachina-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/assets/fonts/neue-machina/NeueMachina-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/assets/fonts/neue-machina/NeueMachina-Ultrabold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
