@font-face {
  font-family: "Neue Machina";
  src: url("/assets/fonts/neue-machina/NeueMachina-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/assets/fonts/neue-machina/NeueMachina-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/assets/fonts/neue-machina/NeueMachina-Ultrabold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
