.title,
.subtitle {
  font-family: "Pricedown", sans-serif;
  font-weight: normal;
  /* force same glyphs */
  font-style: normal;
}

.title {
  font-size: clamp(48px, 12vw, 165px);
  text-align: left;
  margin: 0;
  margin-bottom: 0 !important;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .title {
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: none;
    text-align: center;
  }
}

.subtitle {
  font-size: clamp(24px, 5vw, 48px);
  color: #cfcfcf;
  text-align: left;
  display: inline-block;
  margin: 0;
  margin-top: 0 !important;
  line-height: 1;
}

@media (max-width: 768px) {
  .subtitle {
    -webkit-text-stroke: 1.5px black;
  }
}
